<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginAdminController</servlet-name>
        <servlet-class>controller.LoginAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterUserController</servlet-name>
        <servlet-class>controller.RegisterUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterAdminController</servlet-name>
        <servlet-class>controller.RegisterAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutAdminController</servlet-name>
        <servlet-class>controller.LogoutAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminManageController</servlet-name>
        <servlet-class>controller.AdminManageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginUserController</servlet-name>
        <servlet-class>controller.LoginUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertBrandController</servlet-name>
        <servlet-class>controller.InsertBrandController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertCategoryController</servlet-name>
        <servlet-class>controller.InsertCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertSubCategoryController</servlet-name>
        <servlet-class>controller.InsertSubCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertSizeController</servlet-name>
        <servlet-class>controller.InsertSizeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertProductController</servlet-name>
        <servlet-class>controller.InsertProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertSaleController</servlet-name>
        <servlet-class>controller.InsertSaleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListProductAdminController</servlet-name>
        <servlet-class>controller.ListProductAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductController</servlet-name>
        <servlet-class>controller.AddProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductController</servlet-name>
        <servlet-class>controller.DeleteProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductController</servlet-name>
        <servlet-class>controller.UpdateProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShopController</servlet-name>
        <servlet-class>controller.ShopController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetailController</servlet-name>
        <servlet-class>controller.ProductDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddtocartController</servlet-name>
        <servlet-class>controller.AddtocartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCartController</servlet-name>
        <servlet-class>controller.ViewCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutController</servlet-name>
        <servlet-class>controller.CheckOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileUserController</servlet-name>
        <servlet-class>controller.ProfileUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>abcxz</servlet-name>
        <servlet-class>controller.abcxz</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginAdminController</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>RegisterUserController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterAdminController</servlet-name>
        <url-pattern>/admin-register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutAdminController</servlet-name>
        <url-pattern>/admin-logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminManageController</servlet-name>
        <url-pattern>/admin-manage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginUserController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertBrandController</servlet-name>
        <url-pattern>/admin-insert-brand</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertCategoryController</servlet-name>
        <url-pattern>/admin-insert-category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertSubCategoryController</servlet-name>
        <url-pattern>/admin-insert-subcategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertSizeController</servlet-name>
        <url-pattern>/admin-insert-size</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertProductController</servlet-name>
        <url-pattern>/admin-insert-product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertSaleController</servlet-name>
        <url-pattern>/admin-insert-sale</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListProductAdminController</servlet-name>
        <url-pattern>/admin-list-product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductController</servlet-name>
        <url-pattern>/admin-add-product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductController</servlet-name>
        <url-pattern>/admin-delete-product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductController</servlet-name>
        <url-pattern>/admin-update-product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShopController</servlet-name>
        <url-pattern>/shop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetailController</servlet-name>
        <url-pattern>/product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddtocartController</servlet-name>
        <url-pattern>/addcart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCartController</servlet-name>
        <url-pattern>/viewcart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutController</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileUserController</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>abcxz</servlet-name>
        <url-pattern>/abcxyz</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            1000
        </session-timeout>
    </session-config>
</web-app>
